---
---

@import "{{ site.theme }}";

.page-header {
    color: #F87883;
    text-align: center;
    background-color: #fff;
    background-image: linear-gradient(120deg, #086C76, #6ECCDF);
  }
  
  .main-content {
      h1, h2, h3, h4, h5, h6 {
          margin-top: 2rem;
          margin-bottom: 1rem;
          font-weight: normal;
          color: #222;
      }
  }